.main-logo {
    width: 40px;
}
 .branding {
     padding: 5px !important;
     border-top: none !important;
     border-right: none !important;
 }

#menuContainer {
    background: rgb(122,232,255);
    background: -moz-linear-gradient(180deg, rgba(122,232,255,1) 0%, rgba(155,236,252,1) 40%, rgba(15,168,199,1) 69%);
    background: -webkit-linear-gradient(180deg, rgba(122,232,255,1) 0%, rgba(155,236,252,1) 40%, rgba(15,168,199,1) 69%);
    background: linear-gradient(180deg, rgba(122,232,255,1) 0%, rgba(155,236,252,1) 40%, rgba(15,168,199,1) 69%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7ae8ff",endColorstr="#0fa8c7",GradientType=1);
    position: fixed;
    width: 100%;
    z-index: 9;
    height: 56px;
    /* it's like a margin top */
    top: 0px; 
    border-top: 1px solid white;
}

#menuContainer > .item {
    padding: 15px;
    color: white;
    cursor: default;
    border: 1px solid white;
    display: inline-block;
}