<div id="homeContainer">
    <div class="white-border-glassbox">
        <div class="home-head-container">
            <div class="row">
                <div class="col-md-auto">
                    <div class="avatar-frame-online">
                        <img id="homeAvatarPicture" src="assets/img/generic_avatar.png" alt="avatar">
                    </div>
                </div>
                <div class="col">
                    <b>Andrés</b>
                    <div>
                        <span>Online</span>
                        <br>
                        <span>< Escribe un mensaje personal ></span>
                        <br>
                        <a (click)="logout()">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="white-container-padded margin-top-15">
        <div class="row">
            <div class="col">
                <input class="form-control" type="text" placeholder="Buscar Amigo" [(ngModel)]="query" >
            </div>
            <div class="col-md-auto">
                <img class="icon" src="assets/img/logo_live_add.png" alt="add a friend">
            </div>
        </div>

        <hr />
        <b *ngIf="friends">Amigos ({{friends.length}} / {{friends.length}})</b>
        <div *ngFor="let user of friends | search: query" class="display-block margin-bottom-5">             
            <span routerLink="/conversation/{{user.uid}}">
                <!-- <img class="icon" src="../../assets/img/logo_live_{{user.status}}.png" alt=""> -->
                <img class="icon" src="../../assets/img/logo_live_online.png" alt="">
                <b>{{user.nick}}</b> - {{user.subnick || 'No subnick'}}
                <small>- {{user.email}}</small>
            </span>            
        </div>
    </div>
</div>