#homeContainer {
    background-image: url(/assets/img/msnbg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

#homeAvatarPicture {
    max-width: 100px;
}

#white-border-glassbox {
    border: 2px solid rgba(255,255,255,.75);
    padding: 8px;
}

.home-head-container {
    background-color: rgba(255, 255, 255, .5);
}

.status-logo {
    width: 25px;
    margin: 5px 10px;
}

.white-container-padded {
    padding: 15px;
    background-color: #feffff;
}

img.icon {
    width: 30px;
}

